/* Paleta de colores */
:root {
    --primary-color: #0d6efd;
    --secondary-color: #6c757d;
    --info-color: #0dcaf0;
    --light-color: #f8f9fa;
    --dark-color: #212529;
    --background-color: #ffffff;
    --text-color: #000000;
  }
  
  /* Modo oscuro */
  [data-theme="dark"] {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --primary-color: #bb86fc;
    --secondary-color: #03dac6;
    --info-color: #03a9f4;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .navbar {
    background-color: var(--background-color);
  }
  
  .btn-outline-primary {
    border-color: var(--primary-color);
    color: var(--primary-color);
  }
  
  .btn-outline-secondary {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
  }
  
  .btn-outline-info {
    border-color: var(--info-color);
    color: var(--info-color);
  }

  .bg-success-subtle-opacity {
    background-color: rgba(212, 237, 218, 0.25) !important; /* Verde con opacidad del 25% */
  }
  